input{
    border: none;
}
select{
    white-space: nowrap;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

input[type="range"]{
    margin: 5px;
    width: 125px;
}
input[type=range]{
    -webkit-appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
    background: #fff;
    height: 10px;
    border: none;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 10px;
    width: 10px;
    background: #bbb;
    margin-top: 0px;
}
input[type=range]:focus {
    outline: none;
}

@keyframes color{
    0%{border-bottom: 3px solid #888888}
    100%{border-bottom: 3px solid #1e64ff;}
}

.inputs{
    background-color: #fff;
    font-size: 12px;
    width: 125px;
    margin: 5px;
    padding: 1px;
    border: none;
    border-bottom: 3px #888 solid;
}
.inputs:hover{
    animation: color 0.5s 1;
    border: none;
    border-bottom: 3px rgb(30, 100, 255) solid;
}
.left{
    background-color: #888;
    float: left;
}
.choose{
    position: relative;
    width: 40%;
    padding: 5%;
    float: left;
    font-size: 40px;
    text-align: center;
}
.right{
    background-color: #888;
    float: right;
    text-align: center;
}