
.icon-dot:before { content: '\e800'; } /* '' */
.icon-forward:before { content: '\e801'; } /* '' */
.icon-comment-inv:before { content: '\e802'; } /* '' */
.icon-minus:before { content: '\e803'; } /* '' */
.icon-minus-squared-alt:before { content: '\f147'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-paypal:before { content: '\f1ed'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-id-badge:before { content: '\f2c1'; } /* '' */
.icon-id-card-o:before { content: '\f2c3'; } /* '' */